.shop-container {
  background-color: #edf2f4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}
.shoes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
@media only screen and (max-width: 700px) {
  .title {
    font-size: 25px;
  }
}
