.cart-page-summary-container {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 340px;
}
.cart-page-summary-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}
.free-shipping {
  font-size: 15px;
}
