.cart-page-summary-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  border-top: 1px solid #d1d0d0;
  text-transform: uppercase;
  text-align: center;
}

.checkout-btn,
.go-back-btn {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(19, 18, 18);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: white;
  align-self: center;
}
.checkout-btn:hover,
.go-back-btn:hover {
  color: #fff;
  cursor: pointer;
  background: black;
}
.checkout-btn:active,
.go-back-btn:active {
  transform: scale(1.1);
}
.total {
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 1rem;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  .cart-page-summary-container {
    height: 7rem;
    gap: 5px;
    flex-direction: column;
  }
  .total {
    order: -1;
    font-size: 25px;
  }
  .checkout-btn,
  .go-back-btn {
    letter-spacing: 0;
    line-height: 0;
  }
}
