.cart-page-summary-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background-color: #fff;
  border-top: 1px solid #d1d0d0;
  text-transform: uppercase;
  text-align: center;
}

.checkout-btn,
.go-back-btn,
.return-btn {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(19, 18, 18);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: white;
  align-self: center;
}
.checkout-btn:hover,
.go-back-btn:hover,
.return-btn:hover {
  color: #fff;
  cursor: pointer;
  background: black;
}
.checkout-btn:active,
.go-back-btn:active,
.return-btn:active {
  transform: scale(1.1);
}
.total {
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 1rem;
  font-style: normal;
}
.checkout-message-container {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 380px;
  max-width: 80vw;
  padding: 10px;
  margin: auto;
  gap: 10px;
  background-color: #f5f5f5;
  color: #1b1b1b;
  border: 3px solid #1b1b1b;
}
@media only screen and (max-width: 700px) {
  .cart-page-summary-container {
    height: 7rem;
    gap: 5px;
    flex-direction: column;
  }
  .total {
    order: -1;
    font-size: 25px;
  }
  .checkout-btn,
  .go-back-btn {
    letter-spacing: 0;
    line-height: 0;
  }
}
