.checkout-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 30px;
}
.empty-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.empty-cart-container > img {
  width: 100%;
  max-width: 1000px;
  min-width: 360px;
}
.checkout-shoes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
/* Media Queries */
@media only screen and (max-width: 1000px) {
  .checkout-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
